<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="POST">
            <input type="text" name="name" id="name" placeholder="Username" autocomplete="off" required>
            <input type="text" name="fname" id="fname" placeholder="First Name">
            <input type="text" name="lname" id="lname" placeholder="Last Name">
            <input type="email" name="email" id="email" placeholder="Email" autocomplete="off" required>
            <input type="password" name="password" id="password" placeholder="password" autocomplete="off" required>
            <button type="submit">register</button>
        </form>
        <p>Already have account? <a href="/login">login here</a></p>
    </div>
</body>
</html>